body {
  background-color: white;
  font-family: "Lato", sans-serif;
}

h1 {
  color: #34495e;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  padding-top: 50px;
  font-size: 3em;
}

h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #34495e;
  font-family: "Lora", sans-serif;
  font-weight: 600;
}

.lead {
  font-size: 1.5em;
}

.blockquote {
  font-size: 20px;
  border-left: 5px solid #eee;
  padding-left: 10px;
}

.opening {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 25%;
  padding-right: 25%;
}

.col-lg-6 {
  margin: 0 auto;
  margin-bottom: 10%;
}

ul {
  list-style-type: none;
  list-style-position: outside;
  text-align: center;
}

li {
  margin-right: 1em;
  margin-left: 1em;
  display: inline;
}

a {
  color: #84B1ED;
}

a:hover {
  text-decoration: none;
  color: #67D5B5;
}
